html, body, .grid-container { margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "sidebar_left shop shop shop sidebar_right" "sidebar_left shop shop shop sidebar_right" "sidebar_left shop shop shop sidebar_right";
}

.shop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 50px minmax(178px,0px) 25% 1fr; */
  /* grid-template-rows: 50px minmax(196px,0px) 25% 1fr; */
  gap: 1px 1px;
  grid-template-areas:
      "title title title title"
      "image image buy buy"
      "image image buy buy"
      "desc desc desc desc"
      "optional_area optional_area optional_area optional_area";
  grid-area: shop;
}

.title {
  grid-area: title;
  display: flex;
  align-items: center;
  margin: 15px;
}

.image { 
  grid-area: image;
  display: flex;
  justify-content: center;
  /* min-width: 176px; */
  min-height: 340px;
  /* max-width: 270px; */
  /* max-height: 540px;*/
}
.image img{
 /* height: 100%; */
  max-height: 340px;
  object-fit: cover;
}

.buy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "price price buy_misc" "buyButton buyButton count" "buyButton_misc buyButton_misc buyButton_misc";
  grid-area: buy;
}

.buyButton {
  grid-area: buyButton;
}
.buyBtn {
  width: 57%;
  height: 49%;
  background: #01c355;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  min-width: 216px;
  max-height: 50px;
}
.count { grid-area: count; }

.price {
  grid-area: price;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.buy_misc { grid-area: buy_misc; }

.buyButton_misc { grid-area: buyButton_misc; }

.desc {
  grid-area: desc;
  padding: 34px 0px;
  min-height: 300px;
}

.optional_area { grid-area: optional_area; }

.sidebar_left { grid-area: sidebar_left; }

.sidebar_right { grid-area: sidebar_right; }

/* For presentation only, no need to copy the code below */

